.dropdown {
  width: 300px;
  margin-bottom: 100px;
  position: relative;
  user-select: none;
  z-index: 3;
}

.dropdown .dropdown-btn {
  padding: 10px;
  background-color: #b2b7be;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: bold;
  color: #000;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
}

.dropdown .dropdown-content {
  position: absolute;
  /* top: 100%; */
  left: 0;
  padding: 10px;
  background: whitesmoke;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: 500;
  width: 100%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.is-active {
  border-radius: 0px !important;
  border-top-left-radius: 15px !important ;
  border-top-right-radius: 15px !important;
}

.dropdown .dropdown-content .dropdown-item {
  padding: 10px;
  cursor: pointer;
}

.dropdown .dropdown-item:hover {
  background: #0a192f;
  color: white;
  border-radius: 15px !important;
}
