.scroll-icon {
  position: absolute;
  top: 200px;
  right: 50px;
  margin: 2em;
  width: 2em;
  height: 3.5em;
  border: 0.2em solid rgb(255, 0, 64);
  border-radius: 2em;
}

.scroll-icon.ex-3 .wheel {
  position: absolute;
  left: 50%;
  top: 25%;
  width: 0.6em;
  height: 0.6em;
  background-color: rgb(255, 0, 64);
  transform: translate(-50%, 0);
  border-radius: 0.6em;
  animation: ex-3-wheel 1.3s ease-in-out infinite;
}
.scroll-icon.ex-3 .arrow {
  position: absolute;
  left: 50%;
  width: 0.4em;
  height: 1em;
  transform: translateX(-50%);
  opacity: 0.5;
  animation: ex-3-wheel-opacity 2s ease-in-out infinite;
}
.scroll-icon.ex-3 .arrow::before,
.scroll-icon.ex-3 .arrow::after {
  content: '';
  display: block;
  width: 0.4em;
  height: 0.4em;
  border-left: 1px solid rgb(255, 0, 64);
  border-top: 1px solid rgb(255, 0, 64);
  box-sizing: border-box;
}
.scroll-icon.ex-3 .arrow.up {
  top: 10%;
}
.scroll-icon.ex-3 .arrow.up::before,
.scroll-icon.ex-3 .arrow.up::after {
  transform: rotate(45deg);
}
.scroll-icon.ex-3 .arrow.down {
  top: 45%;
}
.scroll-icon.ex-3 .arrow.down::before,
.scroll-icon.ex-3 .arrow.down::after {
  transform: rotate(-135deg);
}
@keyframes ex-3-wheel {
  0%,
  100% {
    transform: translate(-50%, 0);
  }
  50% {
    transform: translate(-50%, 50%);
  }
}
@keyframes ex-3-wheel-opacity {
  0%,
  100% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.2;
  }
}

.youtube-link {
  position: fixed;
  left: 20px;
  bottom: 20px;
  color: #fff;
  text-decoration: none;
  font-size: 12px;
}

.black-text {
  color: black;
}

.black-border {
  border: 0.2em solid black !important;
}

.black-wheel {
  border: 0.2em solid black !important;
  background-color: rgb(8, 8, 8) !important;
}

.black-background {
  background-color: black !important;
}

.bf-black:before,
.bf-black:after {
  border-left: 1px solid rgb(0, 0, 0) !important;
  border-top: 1px solid rgb(0, 0, 0) !important;
}

@media only screen and (max-width: 960px) {
  .scroll-container {
    display: none;
  }
}
