b, strong{
  font-size: 1.2rem;
}
.About-sec {
  height: 100%;
}

.about-title2{
  display: none;
}

.About-content {
  display: flex;
  width: 100%;
  margin-top: 15%;
}
.about-text {
  flex: 2;
  padding: 0px 64px;
}
.about-img img {
  width: 100%;
}

.about-img {
  flex: 1;
  margin-top: auto;
  margin-bottom: auto;
}

.flex-container-text {
  flex: 1;
}

.about-info {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
.about-info div {
  flex: 1;
}

.about-tech {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.about-tech-container{
  display: flex;
}

.facts-section {
  margin-top: 32px;
}

.facts-section li {
  list-style-type: disc;
  font-size: 1.2rem;
}

.margin-top {
  margin-top: 10px;
}

.facts-section li::marker {
  color: rgb(255, 0, 64);
}

/* .ul-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
} */

.ul {
  font-weight: 500;
  padding: 0px 16px;
}

@media only screen and (max-width: 1110px) {
  .About-content {
    flex-direction: column;
  }

.about-title{
  display: none;
}

.about-title2{
  display: block !important;
}

  .about-img {
    margin-top: auto;
    margin-bottom: 70px;
    display: flex;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  .about-info {
    display: flex;
    flex-direction: column;
  }

  .about-text {
    padding: 0px;
  }

  .ul-grid {
    grid-template-columns: 4fr 2fr;
  }
}

@media only screen and (max-width: 990px) {
  .About-sec p {
    font-size: 1.2rem;
  }
}
