#About-v2 {
  opacity: 0;
}

.About-sec {
  display: flex;
  width: 100%;
  margin-top: 15%;
}
.about-text {
  flex: 2;
  padding: 0px 64px;
}
.about-img img {
  width: 100%;
}

.about-img {
  flex: 1;
  margin-top: auto;
  margin-bottom: auto;
}

.flex-container-text {
  flex: 1;
}

.about-info {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
.about-info div {
  flex: 1;
}

.about-tech {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-top: 32px;
}

.facts-section {
  margin-top: 32px;
}

.facts-section li {
  list-style-type: none;
}

.margin-top {
  margin-top: 10px;
}

.facts-section li::before {
  content: '\25A0';
  color: rgb(255, 0, 64);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.ul-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.ul {
  font-weight: 500;
}

@media only screen and (max-width: 1110px) {
  .About-sec {
    flex-direction: column;
  }
}
