.chatbot-toggle {
    position: fixed;
    bottom: 20px;
    right: 30px;
    width: 55px;
    height: 55px;
    font-size: 24px;
    cursor: pointer;
    z-index: 1000;
    border-radius: 50%;
    box-shadow: 10px 10px 36px 0px rgba(0, 0, 0, 0.55);

}

.chatbot-toggle img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.chatbot-window {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 350px;
    height: 600px;
    max-height: 700px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.chatbot-header {
    background-color: #0b192ef2;
    color: rgb(253, 253, 253);
    padding: 10px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.chatbot-header h5 {
margin-bottom: 0px;
}

.chatbot-header img {
  height: 50px;
  width: 60px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.close-btn {
    margin-bottom: auto;
    background-color: rgba(255, 255, 255, 0.246);
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 22px;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.close-btn:hover {
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.952);
}

.chatbot-body {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    position: relative;
     background-color: rgba(255, 255, 255, 0.5);
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
        url("https://landingpageimages.s3.us-east-2.amazonaws.com/Wallpaper-chat.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    overscroll-behavior: contain;
}

.chatbot-message {
    padding: 6px 10px;
    margin-bottom: 8px;
    border-radius: 8px;
    max-width: 80%;
    box-shadow: 10px 1px 24px 0px rgba(0, 0, 0, 0.59);
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.chatbot-message.user {
    background-color: #007bff;
    color: white;
    align-self: flex-end;
}

.chatbot-message.bot {
    background-color: #00a803;
    color: rgb(255, 255, 255);
    align-self: flex-end;
    margin-left: auto;
}

.chatbot-footer {
    display: flex;
    border-top: 1px solid #ccc;
}

.chatbot-footer input {
    flex: 1;
    border: none;
    padding: 10px;
    outline: none;
    border-radius: 0 0 0 10px;
}

.chatbot-footer button {
    border: none;
    background-color: #0B192E;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 0 0 10px 0;
}

.icon-black{
    background-color: #dbdbdb38;
    box-shadow: 10px 10px 36px -10px rgba(234, 232, 232, 0.704);
}

.icon-white {
    background-color: #000000;
}

.chatbot-message.bot.typing {
    display: flex;
    gap: 4px;
    align-items: center;
    background-color: #00a803ee;
    justify-content: center;
    align-items: center;
}

.chatbot-message.bot.typing span {
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    animation: bounce 1.4s infinite;
}

.chatbot-message.bot.typing span:nth-child(1) {
    animation-delay: 0s;
}

.chatbot-message.bot.typing span:nth-child(2) {
    animation-delay: 0.2s;
}

.chatbot-message.bot.typing span:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes bounce {

    0%,
    80%,
    100% {
        transform: scale(0.6);
        opacity: 0.9;
    }

    40% {
        transform: scale(1);
        opacity: 1;
    }
}

.chatbot-toggle-wrapper {
    position: relative;
    display: inline-block;
}

.chatbot-tooltip {
    position: absolute;
    bottom: 70px;
    right: 0;
    background: #F7AA10;
    color: #000;
    font-weight: 500;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 14px;
    white-space: nowrap;
    z-index: 1001;
    animation: fadeIn 0.5s ease forwards, fadeOut 2s ease 4.0s forwards;
}

.chatbot-tooltip-arrow {
    position: absolute;
    bottom: -6px;
    right: 10px;
    width: 0;
    height: 0;
    border-left: 6px solid;
    border-right: 6px solid ;
    border-top: 6px solid #F7AA10;
}

body[style*="overflow: hidden"] {
    touch-action: none;
}

.chatbot-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@media (max-width: 500px) {
    .chatbot-tooltip {
        white-space: normal;
        width: 300px;
    }
}