.contact-v2 {
  margin: 64px;
}

/* //delete later */
.contact-v2 {
  height: 60vh;
}

.icon-contact {
  display: flex;
  width: 100%;
}

.section-icons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 500px;
}

.icons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 2px solid whitesmoke;
  height: 400px;
  padding: 32px;
  outline: 3px solid whitesmoke;
  outline-offset: 10px;
}

.icons-container-white {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 2px solid rgb(15, 15, 15);
  height: 400px;
  padding: 32px;
  outline: 3px solid rgb(15, 15, 15);
  outline-offset: 10px;
}

.icon-text-container {
  margin-left: 12px;
}

.phone {
  margin: 0px;
}

.details-text-whats {
  font-size: 0.9rem;
}

.single-icon-container {
  background-color: whitesmoke;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  position: relative;
  top: -4px;
  justify-content: center;
  border-radius: 50%;
}

.single-icon-container-white {
  background-color: rgb(17, 17, 17);
  position: relative;
  top: -4px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.icon-style {
  color: rgb(255, 0, 64);
  background-size: 300px;
  width: 100%;
}

/* .details-text {
  max-width: 290px;
} */
