.main {
  background-color: primary;
  width: 100%;
}

.hero-div {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  position: relative;
}

.herodes-v2 {
  font-size: 1.4rem;
  margin-left: 6px;
  font-weight: 500;
  opacity: 0.7;
}

.taco-img {
  width: 30px;
  margin-left: 7px;
}

.title-v2 {
  font-size: clamp(2vh, 5vw, 4.5rem);
  margin: 0 !important;
}

.subtitle-v2 {
  margin-top: 20;
  font-size: clamp(1.2vh, 2.5vw, 2.5rem);
  font-family: 'Paytone One', sans-serif;
  text-transform: uppercase;
  margin-left: 4px;
  font-weight: 600;
  opacity: 0.9;
  margin-bottom: 32px;
}

.bright {
  margin: 0;
  display: flex;
  align-items: end;
  margin-left: 4px;
}

.bright {
  text-shadow: rgb(255, 0, 0.5) 0px 0px 4px;
}
