* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  scroll-snap-type: y proximity;
  overflow-y: scroll;
  scroll-padding: 7rem 0 0 0;
  height: 100vh;
}

section {
  scroll-snap-align: center;
  height: calc(100vh - 14em);
  margin-bottom: 50rem;
}

.Twrapper h1 {
  font-family: 'Paytone One', sans-serif;
  font-weight: 700;
  line-height: 64px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.Twrapper p,
.Twrapper span {
  font-weight: 500;
}

.About-sec p,
.About-sec span {
  font-size: 1.2rem;
  opacity: 0.9;
}

.About-sec li {
  opacity: 0.9;
}

.Tpadding {
  padding: 16px 0px;
}
img {
  display: block;
  width: 100%;
}

.Timg-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.Ttext-center {
  text-align: center;
}

P {
  font-family: 'Roboto', sans-serif;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-family: inherit;
}
.Twrapper {
  max-width: 1660px;
  margin: 0 auto;
  width: 100%;
  padding: 32px;
}
.Tflex-container {
  display: flex;
}

.Tflex-container-text {
  flex: 2;
}

.Tflex-container-img {
  position: relative;
  flex: 2;
}

.Outline-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Outline-button-white {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Outline-button a {
  position: relative;
  display: inline-block;
  letter-spacing: normal;
  width: fit-content;
  border: 2px solid #fff;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
  border-radius: 15px;
  padding: 20px;
  min-width: 195px;
  margin: 30px 0px;
  transition: all ease-in-out 300ms;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Outline-button-white a {
  position: relative;
  display: inline-block;
  letter-spacing: normal;
  width: fit-content;
  border: 2px solid rgb(14, 14, 14);
  color: rgb(17, 17, 17);
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
  border-radius: 15px;
  padding: 20px;
  min-width: 195px;
  margin: 30px 0px;
  transition: all ease-in-out 300ms;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Outline-button a:hover {
  background-color: whitesmoke;
  color: rgb(14, 13, 13);
  outline: 2px solid #fff;
  outline-offset: 5px;
  transition: all ease-in-out 300ms;
}

.Outline-button-white a:hover {
  background-color: #121213;
  color: #fff;
  outline: 2px solid #121213;
  outline-offset: 5px;
  transition: all ease-in-out 300ms;
}

.fade-in-up {
  opacity: 0;
  animation: fadeInUp 1s both;
}

.fade-in-left {
  opacity: 0;
  animation: fadeInLeft 1s both;
}

.fade-in-right {
  opacity: 0;
  animation: fadeInRight 1s both;
}

.initial-opacity {
  opacity: 1;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(80px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-80px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@media only screen and (max-width: 1050px) {
  .Outline-button a {
    min-width: 165px;
  }

  .Outline-button-white a {
    min-width: 165px;
  }

  .Twrapper h1 {
    line-height: normal;
  }
}

@media only screen and (max-width: 1020px) {
  .Tflex-container {
    flex-direction: column;
  }

  .Tflex-container-img {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}
