* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
  /* color: black; */
}
/*pages classes*/

.Tpadding {
  padding: 16px 0px;
}
img {
  display: block;
  width: 100%;
}

.Timg-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.Ttext-center {
  text-align: center;
}

/* ul {
    display: block;
    list-style-type: disc;
    padding-left: 40px;
} */

h1 {
  font-family: 'Raleway', sans-serif;
}
P {
  font-family: 'Roboto', sans-serif;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-family: inherit;
}
.Twrapper {
  max-width: 1660px;
  margin: 0 auto;
  width: 100%;
  padding: 32px;
}
.Tflex-container {
  display: flex;
}

.Tflex-container-text {
  flex: 2;
}

.Tflex-container-img {
  position: relative;
  flex: 2;
}

.Outline-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Outline-button a {
  position: relative;
  display: inline-block;
  letter-spacing: normal;
  width: fit-content;
  border: 2px solid #fff;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
  border-radius: 20px;
  padding: 20px;
  min-width: 150px;
  margin: 30px 0px;
  transition: all 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Outline-button a:hover {
  background-color: #1d5ca8;
  border: 2px solid #ff910c;
  color: #fff;
}

@media only screen and (max-width: 1020px) {
  .Tflex-container {
    flex-direction: column;
  }

  .Tflex-container-img {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}
