.navbarv2 {
  height: 80px;
  background-color: rgb(17, 17, 17);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: fixed;
  top: 0;
  z-index: 999;
}
.navbarv2 .nav-links {
  color: #fff !important;
}

.navbar-logo img {
  width: 280px;
}

.nav-item {
  opacity: 1 !important;
}


.black-icon {
  color: rgb(12, 12, 12) !important;
}

.white-icon {
  color: whitesmoke !important;
}

.nav-item-mobile{
  display: none !important;
}

.nav__white {
  height: 80px;
  background-color: whitesmoke;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: fixed;
  top: 0;
  z-index: 999;
  color: #fff;
}




.nav__white .nav-links {
  color: rgb(0, 0, 0);
}

.nav__white .navbar-logo {
  color: rgb(0, 0, 0) !important;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  max-width: 1500px;
}

.navbar-logo {
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: flex;
}
.navbar-logo:hover {
  text-decoration: none;
}

.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  justify-content: end;
  margin-right: 32px;
}

.nav-item {
  height: 80px;
}

.active .nav-item,
.active-black .nav-item {
  height: 10%;
  font-weight: 700;
}

.nav-links {
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

.dark-light-switch {
  display: flex;
  align-items: center;
  justify-content: center;
}

.red-icon {
  color: rgb(255, 0, 64);
}

.blue-icon {
  color: rgb(38, 0, 255);
}

.lan-btn {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  border-bottom: none !important;
}

.lan-btn:focus {
  outline: none;
  box-shadow: none;
}

.lan-btn span {
  font-weight: 400;
}
.icon-c {
  color: rgb(255, 0, 64);
}

.logo-img-mobile {
  width: 330px;
}

.language-img{
  width: 38px;
}


@media screen and (max-width: 1180px) {
  .navbar-logo img {
    width: 210px;
  }
  .nav-links{
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 990px) {
  .logo-img-mobile {
    display: none;
  }
}

@media screen and (max-width: 990px) {
  .navbar-logo img {
    display: none;
  }
  .nav-links:hover {
    text-decoration: none;
  }
  .nav-item-mobile {
    display: flex!important;
  }
  .nav-item-desktop{
    display: none !important;
  }
}


@media screen and (min-width: 990px) {
  .nav-links:hover {
    border-bottom: 3px solid rgb(255, 0, 64);
    transition: all 0.3s ease-out;
    text-decoration: none;
    text-shadow: 0 0 0.65px #333, 0 0 0.65px #333;
  }

}

@media screen and (max-width: 990px) {
  .NavbarItems {
    position: relative;
  }

  .navbarv2{
    height: 50px;
  }

  .lan-btn {
    margin-top: 0px;
  }

  .nav__white{
    height: 50px;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background-color: whitesmoke;
    left: 0;
    top: 49px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 110;
    margin: 0px;
    justify-content: start !important;
    height: 100vh;
  }

  .nav-menu.active-black {
    background-color: rgb(14, 14, 14);
    left: 0;
    top: 50px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 100;
    margin: 0px;
    justify-content: start !important;
    height: 100vh;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    color: #242424;
    border-radius: 0;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1rem;
    cursor: pointer;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    color: #242424;
    transition: 250ms;
  }
}
