.resume__section-v2 {
  position: relative;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 0px 40px 0px;
  background: linear-gradient(180deg, #dbd4d4, #1984fd);
  margin-top: 120px;
}

.resume__section-v2 .content {
  border: 2px solid #fff;
  border-radius: 20px;
  z-index: 10000;
  background-color: rgba(58, 58, 58, 0.226);
  max-width: 700px;
  padding: 32px;
  flex: 1;
}

.resume__section-v2 .content h2 {
  font-size: 3em;
  color: #fff;
}

.resume__section-v2.content p {
  font-size: 1.2em;
  color: #fff;
}

.resume__section-v2 img {
  position: relative;
  height: 100%;
}

.img-container-mb {
  height: 800px;
  z-index: 1000;
  max-width: 400px;
  flex: 2;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
}

.buttons-container-v2 {
  display: grid;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 30px;
  grid-template-columns: 300px 300px;
}

@media only screen and (max-width: 1200px) {
  .resume__section-v2 .content {
    max-width: 560px;
  }
}

@media only screen and (max-width: 1050px) {
  .resume__section-v2 .content {
    max-width: 500px;
  }
}

@media only screen and (max-width: 950px) {
  .buttons-container-v2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .resume__section-v2 {
    display: flex;
    flex-direction: column;
  }

  .resume__section-v2 img {
    position: relative;
    height: 60%;
  }

  .resume__section-v2 .content {
    border: none;
  }
}

@media only screen and (mx-width: 500px) {
  .resume__section-v2 img {
    position: relative;
    height: 0%;
  }
}
