.resume__section-v2 {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 0px 40px 0px;
  background: linear-gradient(180deg, #dbd4d4, #1984fd);
  margin-top: 120px;
}

.resume__section-v2-white {
  position: relative;
  width: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 0px 40px 0px;
  background: linear-gradient(180deg, #0a192f, #0953a8);
  margin-top: 120px;
}

.Rcontent {
  border: 2px solid rgb(17, 17, 17);
  border-radius: 20px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.548);
  max-width: 700px;
  padding: 32px;
  flex: 1;
}

.Rcontent-white {
  border: 2px solid #fff;
  border-radius: 20px;
  z-index: 1;
  background-color: rgba(58, 58, 58, 0.226);
  max-width: 700px;
  padding: 32px;
  flex: 1;
}

.rTitle-white {
  color: whitesmoke !important;
  font-size: 3em;
}

.rTitle {
  color: rgb(14, 14, 14) !important;
  font-size: 3em;
}

.rText-white {
  color: whitesmoke !important;
  font-size: 1.2em;
  opacity: 0.9;
}

.rText {
  color: rgb(14, 14, 14) !important;
  font-size: 1.2em;
  opacity: 0.9;
}

.Rimg {
  position: relative;
  height: 100%;
}

.Rimg-container-mb {
  height: 800px;
  z-index: 1;
  max-width: 400px;
  flex: 2;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
}

.buttons-container-v2 {
  display: grid;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 30px;
  grid-template-columns: 300px 300px;
}

@media only screen and (max-width: 1200px) {
  .Rcontent {
    max-width: 560px;
  }

  .Rcontent-white {
    max-width: 560px;
  }
}

@media only screen and (max-width: 1050px) {
  .Rcontent {
    max-width: 500px;
  }
  .Rcontent-white {
    max-width: 500px;
  }
}

@media only screen and (max-width: 950px) {
  .buttons-container-v2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .resume__section-v2 {
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 24px;
  }

  .resume__section-v2-white {
    display: flex;
    flex-direction: column;
  }

  .Rimg {
    display: none;
  }

  .Rcontent {
    border: none;
    background-color: rgba(255, 255, 255, 0.822);
  }
  .Rcontent-white {
    border: none;
  }
  .rTitle {
    font-size: 2em;
  }
}

@media only screen and (max-width: 365px) {
  .details-text {
    overflow-wrap: anywhere;
  }
}
