.skills__header-v2 {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  cursor: pointer;
}

.skills__container-v2 {
  display: flex;
  width: 100%;
  padding: 100px 0px;
  flex-wrap: wrap;
  min-height: 350px;
  height: auto;
  justify-content: space-evenly;
  position: relative;
  border-radius: 25px;
  z-index: 1;
  backdrop-filter: blur(25px) saturate(95%);
  background-color: rgba(255, 255, 255, 0.685);
  border-radius: 12px;
}

.skills__container-v2-white {
  display: flex;
  width: 100%;
  padding: 100px 0px;
  flex-wrap: wrap;
  min-height: 350px;
  height: auto;
  justify-content: space-evenly;
  position: relative;
  border-radius: 25px;
  z-index: 1;
  backdrop-filter: blur(25px) saturate(95%);
  border-radius: 12px;
  background: linear-gradient(145deg, rgb(148 145 145), rgb(228 228 228));
  box-shadow: 27px 27px 37px #a1a1a1, -27px -27px 37px #e6e6e600;
}

.skills__content {
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  flex: 1 1 50%;
  box-shadow: 0 2px 54px 0 red;
  height: max-content;
}

.skills__header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: tomato;
  border-radius: 30px 15px 100px 30px;
}

.icon-img-container {
  max-width: 220px;
  margin: 16px 16px;
  max-height: 120px;
}

.animation {
  animation: fade-in 1s ease-in-out;
  animation-fill-mode: backwards;
  animation-delay: 50ms;
}

.icon-img {
  width: 100%;
  height: 120px;
  max-height: 120px;
}

.tech-text{
  font-size: 1.6rem;
  margin-bottom: 32px;
  font-weight: 500;
  opacity: 0.7;
}

/* .skills-section {
  margin-top: 10%;
  height: 100vh;
} */

@media only screen and (max-width: 1021px) {
  .skills-section {
    margin-top: 36%;
  }

  .skills-title {
    margin-top: 24%;
  }

  .icon-img-container {
    max-width: 100px;
    margin: 16px 16px;
    max-height: 120px;
  }
}

@keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes resize {
  0% {
    transform: scale(0, 0);
    transition: height 2s ease;
  }

  0% {
    transform: scale(0, 1);
    transition: height 2s ease;
  }

  100% {
    transform: scale(0, 2);
    transition: height 2s ease;
  }
}