.skills__container {
  row-gap: 0;
}

.skills__header {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  cursor: pointer;
}

.skills__icon,
.skills__arrow {
  font-size: 2rem;
  
}

.skills__icon {
  margin-right: 75px;
}

.skills__titles {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
  font-size: 1.5rem;
}

.skills__close .skills__list {
  height: 0;
  overflow: hidden;
}

.skills__open .skills__list {
  height: max-content;
  margin-bottom: 15px;
  transition: 1.0s;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding:16px 16px;
  gap:8px;

}

/* skillsArrow:{
  marginLeft: "auto",
  fontSize: "1.8rem",
  transition: "0.4s",
  color: `${theme.palette.primary.main}`
} */

.skills__open .skills__arrow {
  transform: rotate(-180deg);
  transition: 0.6s;
  outline: none;

}

.skills__container {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 300px 300px 300px 300px;
  align-content:space-around ;
  height: 800px;   /*  for now */
}

.skills__content {
  background-color: rgb(202, 205, 211);
  border-radius: 30px;
  flex: 1 1 50%;
  box-shadow: 0 2px 54px 0 red;
  height: max-content;
}

.skills__header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: tomato;
  border-radius: 30px 15px 100px 30px;
}

.icon-img {
 width: 100%;
 height: 70px;
 border: 1px solid black;
}

/* .arrowBtn {
  align-self: flex-start;
  margin-left: auto;
} */
