#skills-v2 {
  margin-top: 200px;
}

.skills-title {
  margin: 64px 0px !important;
}

.skills__header-v2 {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  cursor: pointer;
}

.skills__container-v2 {
  display: flex;
  width: 100%;
  padding: 100px 0px;
  flex-wrap: wrap;
  min-height: 350px;
  height: auto; /*  for now */
  background-color: rgba(255, 255, 255, 0.685);
  justify-content: space-evenly;
  position: relative;
  border-radius: 25px;
  z-index: 1;
}

.skills__container-v2-white {
  display: flex;
  width: 100%;
  padding: 100px 0px;
  flex-wrap: wrap;
  min-height: 350px;
  height: auto; /*  for now */
  background-color: rgba(82, 77, 77, 0.37);
  justify-content: space-evenly;
  position: relative;
  border-radius: 25px;
  z-index: 1;
}

.skills__content {
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  flex: 1 1 50%;
  box-shadow: 0 2px 54px 0 red;
  height: max-content;
}

.skills__header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: tomato;
  border-radius: 30px 15px 100px 30px;
}

.icon-img-container {
  max-width: 220px;
  margin: 16px 16px;
  max-height: 120px;
}

.icon-img {
  width: 100%;
  height: 120px;
  max-height: 120px;
}

/* .arrowBtn {
  align-self: flex-start;
  margin-left: auto;
} */
