.skills__container{
    row-gap: 0;
}

.skills__header{
display: flex;
align-items: center;
margin-bottom: 10px;
cursor: pointer;
}

.skills__icon,
.skills__arrow{
    font-size: 2rem;
    color:red;
    }

    .skills__icon{
        margin-right: 75px;
    }

    .skills__arrow{
        margin-left: auto;
        font-size: 50px;
        transition: .4s;
    }

    .skills__titles{
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;;
    }


    .skills__close .skills__list{
        height: 0;
        overflow: hidden;
    }

    .skills__open .skills__list{
        height: max-content;
        margin-bottom: 15px;
        transition: .54s;
    }

    .skills__open .skills__arrow{
        transform: rotate(-180deg);
    }

    .skills__container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .skills__content{
        background-color: rgb(29, 86, 243);
        border-radius: 30px;
        flex: 1 1 1100px;
        box-shadow: 0 2px 54px 0 red;
        height: max-content;
        
    }

    .skills__header{
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        cursor: pointer;
        background-color: tomato;
        border-radius: 30px 15px 100px 30px;
        }