@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");

.title1 {
  color: white;
  font-size: 1.3em;
  font-style: italic;
}

.title2 {
  color: #fff;
  font-size: 1.3em;
  font-style: italic;
  margin-left: 1050px;
}

.title3 {
  color: #fff;
  font-size: 1.3em;
  font-style: italic;
  margin-left: 26px;
}

#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fill 0.5s ease forwards 4.8s;
}

#logo path:nth-child(1) {
  stroke-dasharray: 549;
  stroke-dashoffset: 549;
  animation: line-anim 2s ease forwards;
}

#logo path:nth-child(2) {
  stroke-dasharray: 490;
  stroke-dashoffset: 490;
  animation: line-anim 2s ease forwards 0.3s;
}

#logo path:nth-child(3) {
  stroke-dasharray: 385;
  stroke-dashoffset: 385;
  animation: line-anim 2s ease forwards 0.6s;
}

#logo path:nth-child(4) {
  stroke-dasharray: 490;
  stroke-dashoffset: 490;
  animation: line-anim 2s ease forwards 0.9s;
}

#logo path:nth-child(5) {
  stroke-dasharray: 463;
  stroke-dashoffset: 463;
  animation: line-anim 2s ease forwards 1.2s;
}

#logo path:nth-child(6) {
  stroke-dasharray: 297;
  stroke-dashoffset: 297;
  animation: line-anim 2s ease forwards 1.5s;
}

#logo path:nth-child(7) {
  stroke-dasharray: 441;
  stroke-dashoffset: 441;
  animation: line-anim 2s ease forwards 1.8s;
}

#logo path:nth-child(8) {
  stroke-dasharray: 490;
  stroke-dashoffset: 490;
  animation: line-anim 2s ease forwards 2.1s;
}

#logo path:nth-child(9) {
  stroke-dasharray: 297;
  stroke-dashoffset: 297;
  animation: line-anim 2s ease forwards 2.4s;
}

#logo path:nth-child(10) {
  stroke-dasharray: 571;
  stroke-dashoffset: 571;
  animation: line-anim 2s ease forwards 2.7s;
}

#logo path:nth-child(11) {
  stroke-dasharray: 463;
  stroke-dashoffset: 463;
  animation: line-anim 2s ease forwards 3s;
}

#logo path:nth-child(12) {
  stroke-dasharray: 453;
  stroke-dashoffset: 453;
  animation: line-anim 2s ease forwards 3.3s;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: rgba(255, 255, 255, 0.842);
  }
}

.Jumbotron-title {
  background-image: url("/images/computers.jpg");
  background-size: 100rem 40rem;
  position: relative;
  background-position: auto;
  font-size: 300px;
  text-indent: initial;
  background-repeat: no-repeat, repeat;
  height: 400px;
  background-attachment: fixed;
}

.Jumbotron-title h1 {
  color: rgb(255, 255, 255);
  font-family: "Roboto Slab";
  padding-left: 700px;
  padding-top: 290px;
  top: 50%;
  left: 50%;
  transform: translate(-3%, -0%);
  animation: ani2 0.75s ease-out 5.3s forwards;
  opacity: 0;
}

@keyframes ani2 {
  100% {
    opacity: 1;
  }
}

@keyframes ani1 {
  100% {
    transform: scale(1.55);
  }
}

.Jumbotron-title h4 {
  color: rgb(255, 255, 255);
  padding-left: 610px;
}

.Jumbotron-about {
  background-color: rgb(0, 0, 0);
  color: #fff;
  padding-top: 30px;
  font-size: 18.2px;
  font-weight: bold;
  background-size: 300px 100px;
  font-family: "Roboto Slab";
  margin-bottom: 0px;
}

.img-jumbotron-about {
  width: 120%;
}

.img-jumbotron-about2 {
  width: 190px;
  height: 190px;
  margin-left: 115px;
  opacity: 0;
}

.text-about {
  text-align: justify;
  margin-top: 170px;
}

.Jumbotron-skills {
  background-image: url("/images/descriptions.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  font-size: 17px;
  font-weight: bold;

  font-family: "Roboto Slab";
  margin-bottom: 0px;
}

.image-jumbotron-skills {
  width: 130px;
  height: 120px;
  margin-bottom: 45px;
}

.text-Jumbotron-skills {
  color: aliceblue;
  font-size: 35px;
  font-weight: 300;
  font: bold;
  margin-bottom: 45px;
  padding-top: 0px;
}

.resume-button {
  margin-left: 500px;
}

.Jumbotron-resume {
  display: flex;
  background-image: url("/images/apple_imac_pro_001.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-size: 17px;
  font-weight: bold;
  background-size: 100% 100vh;
  font-family: "Roboto Slab";
  margin-bottom: 0px;
}

.text-resume {
  margin-left: 350px;
  color: rgb(0, 0, 0);
  margin-right: 320px;
  background: rgba(245, 242, 50, 0.808);
  font-size: 40px;
  font-weight: bold;
  border-radius: 16px;
  font-family: "Roboto Slab";
}

.text-resume div {
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-family: "Roboto Slab";
  margin-left: 110px;
}

.LikedIn-img {
  width: 60px;
  height: 60px;
  border-radius: 15px;
  margin-left: 545px;
}

.Jumbotron-projects {
  background-image: url("https://i.pinimg.com/originals/1e/41/0d/1e410db26781cb8643d08ead200cd613.jpg");
  background-repeat: no-repeat;
  background-size: 1900px 800px;
  display: flex;
  overflow: hidden;
  padding-right: 120px;
  margin-bottom: 0px;
}

.card {
  display: grid;
  width: 350px;
  grid-template-columns: 348px;
  grid-template-rows: 250px 190px 80px;
  grid-template-areas: "image" "text" "stats";

  border-radius: 18px;
  background: rgb(255, 255, 255);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.9);
  font-family: roboto;
  text-align: center;
}

.card-text {
  grid-area: text;
}
.card-stats {
  grid-area: stats;
}

.card-image {
  background-image: url("/images/Petlife.png");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: 350px 310px;
  background-repeat: no-repeat;
}

.card-image2 {
  background-image: url("/images/Shoptastic.png");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: 350px 310px;
  background-repeat: no-repeat;
}

.card-image3 {
  background-image: url("/images/Vidly.png");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: 350px 310px;
  background-repeat: no-repeat;
}

.card-text {
  grid-area: text;
  margin: 25px;
}

.card-text p {
  color: rgb(37, 37, 37);
  font-size: 17px;
  font-weight: 300;
}
.card-text h2 {
  margin-top: 0px;
  font-size: 28px;
  font-weight: bold;
}

.card-stats {
  grid-area: stats;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: rgb(255, 7, 28);
}

.card-stats2 {
  grid-area: stats;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: rgb(14, 163, 0);
}

.card-stats3 {
  grid-area: stats;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: rgb(228, 156, 1);
}

.card-stats .stat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  padding: 10px;
}

.card-stats2 .stat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  padding: 10px;
}
.card-stats3 .stat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  padding: 10px;
}

.card:hover {
  transform: scale(1.15);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}
.card {
  transition: 0.5s ease;
  cursor: pointer;
  margin: 30px;
}

.PTitle {
  margin: 0;
  margin-bottom: 0px;
  padding: 0;
  position: relative;
  top: 0%;
  left: 94%;
  transform: translate(-50%, -50%);
  font-family: sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 3em;
}

.form {
  background-color: rgba(255, 93, 93, 0.733);
  border-radius: 18px;
  padding: 50px;
  height: 580px;
  margin-left: 40px;
}

a {
  color: white;
}

form {
  margin: 0 0 2rem 0;
}

form > :last-child {
  margin-bottom: 0;
}

form > .fields {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -2rem 0 2rem -2rem;
  width: calc(100% + 4rem);
}

form > .fields > .field {
  -moz-flex-grow: 0;
  -webkit-flex-grow: 0;
  -ms-flex-grow: 0;
  flex-grow: 0;
  -moz-flex-shrink: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  padding: 2rem 0 0 2rem;
  width: calc(100% - 2rem);
}

form > .fields > .field > :last-child {
  margin-bottom: 0;
}

form > .fields > .field.half {
  width: calc(50% - 1rem);
}

form > .fields > .field.third {
  width: calc(100% / 3 - 0.66667rem);
}

form > .fields > .field.quarter {
  width: calc(25% - 0.5rem);
}

@media screen and (max-width: 480px) {
  form > .fields {
    margin: -1.5rem 0 2rem -1.5rem;
    width: calc(100% + 3rem);
  }

  form > .fields > .field {
    padding: 1.5rem 0 0 1.5rem;
    width: calc(100% - 1.5rem);
  }

  form > .fields > .field.half {
    width: calc(100% - 1.5rem);
  }

  form > .fields > .field.third {
    width: calc(100% - 1.5rem);
  }

  form > .fields > .field.quarter {
    width: calc(100% - 1.5rem);
  }
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
select,
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border-radius: 0.325rem;
  border: solid 2px rgba(144, 144, 144, 0.25);
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1rem;
  text-decoration: none;
  width: 100%;
}

input[type="text"]:invalid,
input[type="password"]:invalid,
input[type="email"]:invalid,
input[type="tel"]:invalid,
input[type="search"]:invalid,
input[type="url"]:invalid,
select:invalid,
textarea:invalid {
  box-shadow: none;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="search"]:focus,
input[type="url"]:focus,
select:focus,
textarea:focus {
  border-color: #2e68e4;
}

label {
  color: #000000;
  display: block;
  font-family: "Raleway", Helvetica, sans-serif;
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.175em;
  line-height: 1.75;
  margin: 0 0 1rem 0;
  text-transform: uppercase;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"] {
  height: 3rem;
}

select {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='rgba(144, 144, 144, 0.25)' /%3E%3C/svg%3E");
  background-position: calc(100% - 1rem) center;
  background-repeat: no-repeat;
  background-size: 1.25rem;
  height: 3rem;
  padding-right: 3rem;
  text-overflow: ellipsis;
}

select option {
  background-color: #ffffff;
  color: #000000;
}

select:focus::-ms-value {
  background-color: transparent;
}

select::-ms-expand {
  display: none;
}

textarea {
  padding: 0.75rem 1rem;
}

input[type="checkbox"],
input[type="radio"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  display: block;
  float: left;
  margin-right: -2rem;
  opacity: 0;
  width: 1rem;
  z-index: -1;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.0375em;
  padding-left: 2.675rem;
  padding-right: 0.875rem;
  position: relative;
  text-transform: none;
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  text-transform: none !important;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
  border-radius: 0.325rem;
  border: solid 2px rgba(144, 144, 144, 0.25);
  content: "";
  display: inline-block;
  font-size: 0.8rem;
  height: 2.25rem;
  left: 0;
  line-height: 2.25rem;
  position: absolute;
  text-align: center;
  top: -0.15rem;
  width: 2.25rem;
}

input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked + label:before {
  content: "\f00c";
  background-color: #00f320;
  border-color: #0011aa;
  color: #ffffff;
}

input[type="checkbox"]:focus + label:before,
input[type="radio"]:focus + label:before {
  border-color: #000000;
  box-shadow: 0 0 0 1px #000000;
}

input[type="checkbox"] + label:before {
  border-radius: 0.325rem;
}

input[type="radio"] + label:before {
  border-radius: 100%;
}

::-webkit-input-placeholder {
  opacity: 1;
  color: rgba(0, 0, 0, 0.25) !important;
}

:-moz-placeholder {
  opacity: 1;
  color: rgba(0, 0, 0, 0.25) !important;
}

::-moz-placeholder {
  opacity: 1;
  color: rgba(0, 0, 0, 0.25) !important;
}

:-ms-input-placeholder {
  opacity: 1;
  color: rgba(0, 0, 0, 0.25) !important;
}

@media screen and (max-width: 736px) {
  label {
    font-size: 0.675rem;
  }

  input[type="checkbox"] + label,
  input[type="radio"] + label {
    font-size: 1rem;
  }
}

@media screen and (max-width: 360px) {
  label {
    font-size: 0.675rem;
  }

  input[type="checkbox"] + label,
  input[type="radio"] + label {
    font-size: 1rem;
  }
}

.Jumbotron-contact {
  background-color: rgb(226, 226, 226);
  font-size: 17px;
  font-weight: bold;
  font-family: "Roboto Slab";
  margin-bottom: 0px;
  background-repeat: no-repeat;
  padding: 20px;
  padding-bottom: 40px;
}

.info {
  font-size: 25px;
  font-weight: bold;
  background-size: 300px 300px;
  font-family: "Roboto Slab";
  margin-top: 110px;
  margin-bottom: 100px;
  border-radius: 18px;
  text-align: center;
  text-rendering: auto;
}

.contact-title {
  margin-left: 40%;
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: bold;
  margin-top: 10px;
}

.Jumbotron-bottom {
  background-color: rgba(6, 6, 12, 0.664);
  margin-bottom: 0;
  font-style: italic;
  font-size: 1.5em;
  color: aliceblue;
  padding: 10px;
}

.Jumbotron-bottom div span {
  color: rgb(255, 255, 255);
  margin-left: 86vh;
}

.bot-icons {
  color: rgb(255, 255, 255);
  margin-left: 40px;
}

.bot-icons:hover {
  color: rgb(63, 113, 252);
}
